<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
<h1>Sign Up</h1>
<form th:action="@{/login}" th:object="${signUp}" method="post">
    <label for="first_name">First Name:</label><br>
    <input type="text" th:field="*{first_name}" id="first_name" name="first_name"><br>
    <label for="last_name">Last Name:</label><br>
    <input type="text" th:field="*{last_name}" id="last_name" name="last_name"><br>
    <label for="email">Email:</label><br>
    <input type="email" th:field="*{email}"id="email" name="email"><br>
    <label for="birthdate">Birthday:</label><br>
    <input type="date" th:field="*{birthdate}" id="birthdate" name="birthdate"><br>
    <label for="password">Create Password:</label><br>
    <input type="password" th:field="*{password}"id="password" name="password"><br>
    <label for="confirm_password">Confirm Password:</label><br>
    <input type="password"  th:field="*{confirm_password}" id="confirm_password" name="confirm_password"><br>
    <label for="image">Image:</label><br>
    <input type="file" th:field="*{image}" id="image" name="image"><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>